h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: blue;
    border: solid blue 3px;

}

#main-container-grid{
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 10rem 1fr;
}

#sidebar-grid{
/*A grid item of main-container-grid*/
  grid-column:1/2;
  grid-row:1/3;
  display: grid;
  grid-template-columns: 1fr 8fr;
  grid-template-rows: repeat(12, 2rem);
  padding: 1rem;
  gap: 5px;
  justify-items: start;
  align-items: center;
  
/*extra rows created for the empty spaces.*/
  
}

.sidebar-item{
/*size of icons in the sidebar*/
  max-height:30px;
  max-width: 30px;
}

#header{
  grid-column: 2/3;
  grid-row: 1/2;
}

#main-content-grid{
  grid-column: 2/3;
  grid-row: 2/3;
  min-height:20rem;
}

/*Style of normal links for page*/
a{
  text-decoration: none;
}

a:link{ color: #596D48;}
a:active { color: #596D48; }
a:visited { color: #596D48; }
a:hover { color: orange; }









/* Border classes for construction purposes */

.l0{
    border: solid purple 5px;
    /* Layer 0, main container */
}

.l1{
    border: solid black 4px;
    /* Layer 1, main containers for macro page layout */
}

.l2{
  border: solid red 3px;
}

.imgLater{
    background-image: url(https://picsum.photos/200); 
    
}