h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: blue;
    border: solid blue 3px;

}

#main-container-grid{
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 10rem 1fr;
}

#sidebar-grid{
  display: grid;
  grid-column:1/2;
  grid-row:1/3;
  
}

#header{
  grid-column: 2/3;
  grid-row: 1/2;
}

#main-content-grid{
  grid-column: 2/3;
  grid-row: 2/3;
  min-height:20rem;
}









/* Border classes for construction purposes */

.l0{
    border: solid purple 5px;
    /* Layer 0, main container */
}

.l1{
    border: solid black 4px;
    /* Layer 1, main containers for macro page layout */
}

.imgLater{
    background-image: url(https://picsum.photos/200); 
    
}